.main {
  display: flex;
}

.scoreContainer {
  display: flex;
}

.deckContainer {
  display: flex;
  gap: 24px;
}

.deck {
  position: relative;
  width: 100%;
  height: 100%;
}

.card, .card1, .card2, .card3 {
  height: 360px;
  width: 240px;
}

.card1, .card2, .card3 {
  position: fixed;
  background: lightblue;
}

/* .card1 {} */

.card2 {
  transform: rotate(5deg);
}

.card3 {
  transform: rotate(10deg);
}

.selectionContainer {
  display: flex;
}
